body {
    background-image: url("../images/sea.jpg");
    background-attachment: fixed ;
    background-size: cover;
    margin: 0;
}

table, th, td {
    border: 2px solid;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12%;
}

.answered {
    color: black;
    -webkit-text-stroke: thin;
}

.button_wrapper {
    margin-top: 100px;
    position: relative;
}

.button_wrapper > button {
    background-color: lightblue;
    border-radius: 10px;
    box-shadow: 2px 5px 5px #000;
    color: white;
    font-size: 200%;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.button_wrapper > button[disabled] {
    opacity: 0.5;
}

.button_wrapper > button:active {
    box-shadow: 2px 3px 3px #000;
    transform: translate(-50%, -48%);
}

.card {
    border: none;
    background-color: transparent;
}

.card > img.card_back {
    height: 128px;
    width: 130px;
}

.card > img.face {
    height: 120px;
}

.card > img.glasses {
    display: none;
    height: 10px;
}

.card > img.hat {
    display: none;
    height: 10px;
}

.card > img.memory_card {
    height: 128px;
    width: 130px;
}

.card > img.memory_card[open] {
    display: inherit!important;
}

.card > img.memory_card[close] {
    display: none!important;
}

.card > img.mustache {
    display: none;
    height: 10px;
}

.card[glasses] > img.glasses {
    display: inherit;
    height: 65px;
    position: absolute;
    top: 10%;
    left: 30%;
}

.card[hat] > img.hat {
    display: inherit;
    height: 50px;
    left: 30%;
    position: absolute;
    top: -10%;
    width: 60px;
}

.card[mustache] > img.mustache {
    display: inherit;
    height: 30px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-55%, -65%);
    width: 60px;
}

.card.selectable {
    cursor: pointer;
}

#date {
    text-align: center;
    font-size: 300%;
    font-weight: bold;
    color: aliceblue;
    /*! position: inherit; */
    /*! left: 43%; */
    /*! top: ; */
}

.button_style {
    border: none;
    color: white;
    padding: 15px 32px;
    /*! text-align: center; */
    position: relative;
    font-size: 55px;
    margin-top: 10%;
    left: 42%;
    box-shadow: 4px 4px #000;
    border-radius: 10px;
    background-color: aquamarine;
    cursor: pointer;
}

.button_style:active {
    box-shadow: 0 0 #000;
    transform: translateY(3px);
}

.button_style:hover{
    background-color: #66ccff;
}

.container {
    border-radius: 5px;
    padding: 30px;
}

.discarded {
    opacity: 0.3;
}

.div_header {
    margin-top: 4%;
    /*! text-align: center; */
    position: fixed;
    left: 41%;
}

.form_label {
    margin-top: 2%;
    margin-left: 25%;
    padding: 10px 5px 5px 0;
    display: block;
}

.center {
    display: flex;
    justify-content: center;
}

.gallery {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    place-items: center;
    grid-auto-flow: row;
    gap: 9px;
    width: 250px;
    height: 160px;
    overflow-x: hidden;
    overflow-y: auto;
    overscroll-behavior-y: contain;
    scroll-snap-type: y mandatory;
}

.gallery > a {
    scroll-snap-align: start;
}

.gallery img {
    width: 250px;
    height: 160px;
}

.nav {
    width: 100%;
    top: 0;
    position: fixed;
    float: left;
    background-color: #0080ff;
    font-size: 15px;
 }
 
 .nav_link {
    display: inline-block;
    width: 110px;
    height: 55px;
    color: White;
    text-align: center;
    line-height: 55px;
    text-decoration: none;
 }

 .nav_link:hover {
    background-color: black;
 }

.responsive_table {
    overflow-x: auto;
}

.score {
    display: inline-block;
}

.score_container {
    bottom: 0%;
    position: fixed;
    right: 0%;
}

.style_textarea {
    width: 40%;
    padding: 7px;
    margin-left: 25%;
    border: 1px solid coral;
    border-radius: 4px;
}

.style_textarea:invalid {
    color: red;
}

.submit_button {
  background-color: lightblue;
  color: white;
  padding: 10px 15px;
  margin: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 59%;
}