body {
    background-image: url("../images/sea.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

table, th, td {
    border: 2px solid;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

.center {
    display: flex;
    justify-content: center;
}

.gallery {
    margin: auto auto;
    display: grid;
    place-items: center;
    grid-auto-flow: row;
    gap: 9px;
    width: 250px;
    height: 160px;
    overflow-x: hidden;
    overflow-y: auto;
    overscroll-behavior-y: contain;
    scroll-snap-type: y mandatory;
}

.gallery > a {
    scroll-snap-align: start;
}

.gallery img {
    width: 250px;
    height: 160px;
}

.responsive_table {
    overflow-x: auto;
}